
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_OurLayout.cshtml";
    

}


<div class="jumbotron">
    <h1 style="background-color: blue; color: white;">Partial View</h1>

</div>
<h2>Create</h2>
<h2>@ViewBag.msg</h2>
<img src="~/Imagaes/img.png" height="150" width="150" class="img-responsive" style="border:2px solid red" text-align="center;" />

